* {
  font-family: system-ui;
}

.pokemon-selecionado {
  &__painel-principal {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;

    &__secao-1 {
      &__imagem {}

      &__poderes {
        display: flex;
        align-items: flex-end;
        flex-direction: row-reverse;
        justify-content: flex-end;

        &__tipos {
          display: flex;
          list-style-type: none;

          li {
            text-align: center;
            border-radius: 1rem;
            font-size: .8rem;
            padding: .25rem 1rem;
            margin: .25rem 0;
            text-align: left;
            text-transform: capitalize;
            color: #141414;
            font-weight: 500;
            margin-right: 5px;
          }
        }
      }
    }

    &__secao-2 {
      text-align: left;
      color: #141414;

      &__sprites {
        margin-top: 20px;
      }

      &__evolucoes {
        li {
          color: rgb(83, 81, 81);
        }
      }
    }

    @media screen and (max-width: 650px) {
      flex-direction: column;
    }

    @media screen and (max-width: 375px) {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        width: 90%;
      }

      .pokemon-selecionado__painel-principal__secao-1__poderes {
        justify-content: center;
      }

      .pokemon-selecionado__painel-principal__secao-2__sprites {
        img {
          width: auto;
        }
      }

      .pokemon-selecionado__painel-principal__secao-2 {
        text-align: center;
      }
    }
  }


  &__painel-secundario {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;

    h4 {
      color: #141414;
    }

    a {
      color: rgb(83, 81, 81);
    }

    @media screen and (max-width: 425px) {
      flex-direction: column-reverse;
      align-items: stretch;

      div {
        margin-top: 20px;
      }

      .tabela {
        width: auto !important;
      }
    }
  }
}

// Animações 
.slideInLeft {
  animation: slideInLeft 1s both;
}

@keyframes slideInLeft {
  0% {
      transform: translateX(-10%);
      visibility: visible;
  }

  100% {
      transform: translateX(0);
  }
}

// Loading 
.loading-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; 
  margin-top: 250px;
}

.custom-loader {
  width: 80px;
  height: 80px;
  color:#F4D406;
  background:
    conic-gradient(from  165deg at top   ,#0000, currentColor 1deg 30deg,#0000 31deg) top,
    conic-gradient(from   75deg at left  ,#0000, currentColor 1deg 30deg,#0000 31deg) left,
    conic-gradient(from  -15deg at bottom,#0000, currentColor 1deg 30deg,#0000 31deg) bottom, 
    conic-gradient(from -105deg at right ,#0000, currentColor 1deg 30deg,#0000 31deg) right;
  background-size: 100% 50%,50% 100%;
  -webkit-mask:radial-gradient(circle 5px,#0000 90%,#000);
  background-repeat: no-repeat;
  animation:sh1 1.5s infinite linear;
}

@keyframes sh1{ 
  100%{transform: rotate(1turn)}
}