.card-pokemon {
    &__numero {}

    &__nome {}

    &__conteudo-card {
        &__tipos {
            list-style-type: none;
        }

        &__imagem {
            width: 156px;
            height: 144px;
        }
    }
}